[submodule "FEI"]
	path = FEI
	url = https://github.com/andriksisk/FEI.git
[submodule "poema"]
	path = poema
	url = https://github.com/andriksisk/poema.git
[submodule "Ecommerce"]
	path = Ecommerce
	url = https://github.com/andriksisk/Ecommerce.git
